
  @import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');



/*navbar*/
.navbar {
    position: fixed;
    background-color: gray;
    height: 6rem;
    top: 0;
    left: 0;
    right: 0;
  
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
  }


  .navbar a {
    color: #ffffff;
    text-decoration: none;
 
    margin: 0.8rem;
    font-family: 'Martel', serif;
    font-size: 1.3rem;
   
  }



  h1{
    color: rgb(72, 67, 67);
    font-family: 'Martel', serif;
    padding-top: 10rem;
    /*padding-bottom: 1rem;*/
  }
  h1:after {
    content:' ';
    display:block;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

/*about section*/

#h1-about{
  margin: 7.5rem;

}

 

/*portfolio section*/
  .portfolio {
    margin: 0 6rem 5rem 6rem;
    padding: 4rem 1rem 0 1rem;
  }




















/* footer social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}

/* footer styling */
#footer {
    background-color: #000000;
    text-align: center;
}